html, body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat-Regular";
    color: @secondary;
    font-size: 16px;
    line-height: 164.5%;
    letter-spacing: 0.05em;
    scroll-behavior: smooth;
}

*:not(ymaps) {
    box-sizing: border-box !important;
}

.container  {
    margin: 0 auto;
    width: @container;
    max-width: 1400px;
}

.video-button {
    display: flex;
    height: 150px;
    width: 150px;
    svg {
        height: 112px;
        width: 112px;
    }
}

.spinner {
&__decorate {
    fill: @primary;
}
  &__decorate,
  &__circle {
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.32s;
      
  }
    &:hover {
        .spinner__decorate {
            fill: @lightColor;
        }
        .spinner__circle {
            fill: @primary;
        }
    }
}

.button {
    .flex;
    background: @primary;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s;
    color: @lightColor;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 25px 0;
    font-family: "Montserrat-Bold";
    svg {
        fill: @lightColor;
        width: 9px;
        height: 15px;
        margin-left: 20px;
    }
    &:hover {
        background: darken(@primary, 20%);
    }
    &_footer {
        padding: 18px 0;
    }
    &_light {
        background: transparent;
        box-shadow: inset 0 0 0 2px @primary;
        color: @primary;
        svg {
            fill: @primary;
        }
        &:hover {
            color: @lightColor;
            background: @primary;
            svg {
                fill: @lightColor;
            }
        }
    }
    &_more {
        padding: 19px 0;
    }
}

.logo {
    z-index: 1;
    svg {
        max-height: 53px;
        max-width: 275px;
    }
}

.title {
    &_main {
        .title-main;
        margin: 0;
    }
    &_section {
        .section-title_highlight;
    }
    &_intro {
        strong {
            font-size: 55px;
            color: @primary
        } 
    }
}

.gradient {
    .linear-background;
    &_first {
        padding-bottom: 550px;
    }
}

.gradient-dark {
    .linear-background-dark;
}

.slick-slide {
    outline: none !important;
}
.slider{
    position: relative;
    &__controlls {
        .flex;
        .space-between;
        align-items: center;
        position: absolute;
        top: -80px;
        right: 0;
        width: 140px;
        &_compare {
            position: static;
        }
    }
    &__arrow {
        cursor: pointer;
        .flex;
        svg {
            fill: @primary;
            transition: all .4s;
            width: 60px;
            height: 12px;
        }
        &:hover {
            svg {
                fill: @secondary;
            }
           
        }
    }
    &__compare-arrow{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 56px;
        height: 56px;
        .flex;
        align-items: center;
        justify-content: center;
        background: @lightColor;
        z-index: 1;
        cursor: pointer;
        transition: all .4s;
        svg {
            width: 12px;
            height: 18px;
            fill: @primary;
            transition: all .4s;
        }
        &.arrow-next {
            right: 0;
            left: auto;
            transform: translate(50%, -50%);
        }
        &:hover {
            background: @primary;
            svg {
                fill: @lightColor;
            }
        }
    }
}

