@media(max-width: 1600px) {
    .container {
        width: 80%;
    }
    .how {
        &:before {
            background-size: 50%;
        }
        &__wrapper {
            min-height: 800px;
        }
    }
}

@media(max-width: 1440px) {
    .container {
        width: 90%;
    }
}