-
    var introList = 
        [
            {
                title: 'Все типы кожи',
                text: 'Эпиляция одинаково успешна на всех фототипах кожи: от первого светлого до четвертого смуглого. Также процедура эффективна на светлых волосах благодаря увеличенной мощности вспышки.'
            },
            {
                title: 'Безболезненность',
                text: 'Процедура безболезнена, не вызывает раздражений, исключена возможность ожогов даже при сверхчувствительной коже'
            },
            {
                title: 'Двухволновой лазер',
                text: 'На сегодняшний день это единственный лазер в мире, в котором вместо одной используется две волны: 810/940 нм.'
            },
            {
                title: 'Исключен риск ожогов',
                text: 'Аппарат оснащен продвинутой системой охлаждения 360 градусов , что делает процедуру комфортной и исключает риск возникновения ожогов.'
            },
            {
                title: 'Быстрота процедуры',
                text: 'У аппарата сниженное время импульса до 3 миллисекунд, поэтому длительность эпиляции любой зоны при помощи диодного лазера MedioStar Next Pro - от 1 до 20 минут'
            },
            {
                title: 'Результат навсегда',
                text: 'Курса процедур хватит на несколько лет. Эффективность работы выше - курс короче на 30%'
            }
        ]

section.section.intro
    .intro__title
        p.intro__notice РЕВОЛЮЦИЯ В ОБЛАСТИ УДАЛЕНИЯ #[br] НЕЖЕЛАТЕЛЬНЫХ ВОЛОС!
        h2.title.title_section.title_intro Эпиляция диодным лазером #[br] #[strong MedioStar Next Pro]
    .intro__block
        ul.intro__list
            each item in introList
                li.intro__item
                    strong.intro__item-title=item.title
                    p.intro__item-text=item.text

            
