mixin title(type, tag, text, subtitle, light)
    - var tag = tag
    case tag
        when h1
            h1.title.title_main.title_hightlight
                strong=text
                br
                =subtitle    
