include ../../blocks/calculator-select/index.pug
-
    var calcList = [
        {
            name: 'Бёдра',
            price: 1995,
            image: 'calc0.jpg',
            oldPrice: '3 990 р.',
            priceFormat: '1 995 р.',
            time: '30 мин.',
            pricews: '3990'
        },
        {
            name: 'Голени',
            price: 1745,
            image: 'calc1.jpg',
            oldPrice: '3 490 р.',
            priceFormat: '1 745 р.',
            time: '30 мин.',
            pricews: '3490'
        },
        {
            name: 'Ноги полностью',
            price: 3495,
            image: 'calc2.jpg',
            oldPrice: '6 990 р.',
            priceFormat: '3 495 р.',
            time: '30 мин.',
            pricews: '6990'
        },
        {
            name: 'Грудь полностью',
            price: 895,
            image: 'calc3.jpg',
            oldPrice: '1 745 р.',
            priceFormat: '895р.',
            time: '30 мин.',
            pricews: '1745'
        },
        {
            name: 'Подмышки',
            price: 595,
            image: 'calc4.jpg',
            oldPrice: '595 р.',
            priceFormat: '1 190 р.',
            time: '30 мин.',
            pricews: '1190'
        },
        {
            name: 'Руки полностью + кисти',
            price: 1795,
            image: 'calc5.jpg',
            oldPrice: '3 590 р.',
            priceFormat: '1 795 р.',
            time: '30 мин.',
            pricews: '3590'
        },
        {
            name: 'Линия бикини',
            price: 1393,
            image: 'calc6.jpg',
            oldPrice: '1 990  р.',
            priceFormat: '1 393 р.',
            time: '30 мин.',
            pricews: '1990'
        },
        {
            name: 'Тотальное бикини',
            price: 2513,
            image: 'calc7.jpg',
            oldPrice: '3 590 р.',
            priceFormat: '2 513 р.',
            time: '30 мин.',
            pricews: '3590'
        },
        {
            name: 'Ареолы',
            price: 495,
            image: 'calc8.jpg',
            oldPrice: '990  р.',
            priceFormat: '495 р.',
            time: '30 мин.',
            pricews: '990'
        },
        {
            name: 'Верхняя губа',
            price: 395,
            image: 'calc9.jpg',
            oldPrice: '790 р.',
            priceFormat: '395 р.',
            time: '30 мин.',
            pricews: '790 '
        },
        {
            name: 'Шейная область',
            price: 895,
            image: 'calc10.jpg',
            oldPrice: '1 790  р.',
            priceFormat: '895 р.',
            time: '30 мин.',
            pricews: '1790'
        },
        {
            name: 'Лицо полностью',
            price: 1295,
            image: 'calc11.jpg',
            oldPrice: '2 590 р. ',
            priceFormat: '1 295 р.',
            time: '30 мин.',
            pricews: '2590'
        },
    ]

section.sectiion.calculator
    .container
        .calculator__title
            p.calculator__notice СТОИМОСТЬ ЛАЗЕРНОЙ ЭПИЛЯЦИИ
            h2.title.title_section.title_centered Выберите нужные вам зоны
        ul.calculator__list
            each item in calcList
                li.calculator__item
                    +calculator-select(item)
        .calculator__bottom
            .calculator__text-block
                p.calculator__text-key ЗОН ВЫБРАНО:
                p.calculator__text-value.calculator__text-value_count(data-calculator-count="") 0
            .calculator__text-block
                p.calculator__text-key ИТОГОВАЯ СТОИМОСТЬ:
                p.calculator__text-value
                    span.calculator__text-old-price(data-calculator-sale="") 
                    strong.calculator__text-new-price(data-calculator-total="") 
            a(href="javascript:void(0);" data-open="calculator").button.button_light 
                span записаться со скидой 50%
                +svg('chevron-btn ')            

