.calculator {
    padding-top: 100px;
    padding-bottom: 100px;
    &__title {
        text-align: center;
    }
    &__notice {
        display: block;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 20px;
        font-family: "Montserrat-Semibold";
        color: @primary;
    }
    &__list {
        .flex;
        .wrapp;
        .list-reset;
        margin-top: 43px;
    }
    &__item {
        width: calc(~"25% - 15px");
        margin-right: 13px;
        margin-bottom: 20px;
        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }
    &__bottom {
        margin: 37px auto 0;
        .button {
            width: 327px;
            margin: 9px auto 0;
        }
    }
    &__text-block {
        .flex;
        justify-content: center;
        align-items: center;
    }
    &__text-key {
        margin: 0 8px 30px 0;
        width: 50%;
        text-align: right;
        font-size: 20px;
        line-height: 24px;
        font-family: "Montserrat-Semibold";
        color: @secondary;
    }
    &__text-value {
        margin: 0 0 30px 8px;
        width: 50%;
        text-align: left;
        font-size: 30px;
        line-height: 37px;
        color: @secondary;
        font-family: "Montserrat-Bold";
        margin-left: auto;
    }
    &__text-old-price {
        font-size: 23px;
        line-height: 152.4%;
        color: #BABABA;
        text-decoration: line-through;
        font-family: "Montserrat-Light";
        margin-right: 22px;
    }
    &__text-new-price {
        font-size: 30px;
        line-height: 37px;
        color: @primary;
    }
}