section.sertificates.section
    .container
        .sertificates__title
            h2.title.title_section Наши лицензии
        ul.sertificates__list
            - for(var i= 0; i < 4; i++)
                li.sertificates__item
                    a(href="img/sert.jpg" data-fancybox=i style="background-image:url(img/sert.jpg)").sertificate
