include ../../blocks/accordeon/index.pug


-
    var faqList = [
        {
            title: 'Как подготовиться к процедуре?',
            text: [
                'Для того чтобы процедура лазерной эпиляции была максимально эффективна, пожалуйста, следуйте этим простым правилам:',
                '1. За 3 недели до процедуры лазерной эпиляции откажитесь от всех видов эпиляций, связанных с удалением волос с корнем (шугаринг, воск, и т.д.).',
                '2. Непосредственно перед процедурой (можно за 1 день, но не более) удалите волосы в обрабатываемой зоне бритвенным станком или кремом для депиляции.'
            ]
        },
        {
        title: 'Как ухаживать за кожей после процедуры?',
            text: [
                `После процедуры лазерной эпиляции женской коже требуется восстановительный период, поэтому, пожалуйста:`,
                `1. В течение 2 недель старайтесь избегать прямого попадания солнечных лучей на поверхность, где проходило воздействие лазера – солярий в этот период противопоказан!`,
                `2. Защищайте кожу хорошим солнцезащитным кремом с SPF 30+.`,
                `3. В течение 3 дней воздержитесь от посещений саун или бань, продолжительное лежание в горячей ванне также не рекомендуется.`,
                `4. Не применяйте процедуры эпиляции, связанные с удалением волоса с корнем (шугаринг, воск, эпилятор, пинцет).`,
                `5. Допускается удаление волос только бритвенным станком или кремом для депиляции.`
            ]
        },
        {
            title: 'Есть ли противопоказания?',
            text: [
                `Противопоказания к воздействию Лазера "MedioStar NeXT PRO":`
            ],
            list: [
                `Воспалительные кожные заболевания в зоне обработки (псориаз, экзема и др.);`,
                `Беременность и период лактации;`,
                `Системные заболевания соединительной ткани; аутоиммунные заболевания;`,
                `Декомпенсированные общие заболевания; обострения хронических заболеваний`,
                `Онкологические заболевания;`,
                `Вирусные и инфекционные заболевания кожи,`,
                `УФ-облучение кожи (от солнца и солярия) в течение 2-х недель до и после процедуры; химические средства по типу «Автозагар» и «Моментальный загар»;`,
                `Наличие сердечного стимулятора;`,
                `Сахарный диабет 1 типа;`,
                `Эпилепсия; острые лихорадочные состояния;`,
                `Повышенная фоточувствительность;`,
                `Приём антибиотиков, ретиноидных и гормональных препаратов;`,
                `Тромбозы и тромбофлебиты.`
            ]
        },
        {
            title: 'Может ли лазерная эпиляция нанести вред моему здоровью?',
            text: [
                `Если женщина или мужчина абсолютно здоровы и не страдают от каких-либо патологий, то причин отказываться от лазерного удаления волос нет. Лазерная эпиляция не может нанести вред вашему организму.`
            ]
        }
        
    ]

section.faq.section
    .container
        .faq__title
            h2.title.title_section Вопрос-ответ
            p.faq__title-notice МЫ СОБРАЛИ СЕРИЮ ЧАСТО ЗАДАВАЕМЫХ ВОПРОСОВ, КОТОРЫЕ ПОЛУЧАЕМ ЕЖЕДНЕВНО
        .faq__wrapper
            ul.faq__list
                each faq in faqList
                    .faq__item
                        +accordeon(faq)
            .faq__bottom
                strong НЕ НАШЛИ ОТВЕТА НА #[br] СВОЙ ВОПРОС?
                a(href="javascript:void(0);" data-open="call").button.button_light.modal-trigger
                    span ЗАДАТЬ ВОПРОС
                    +svg('chevron-btn')        



            